<{css src="custom.css" app="wap" pdir="css_mini"}>
<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name">
           提现申请
        </div>
    </div>
    </header>
      <div class="member-tabs">
    <span>总销售额：<{$sale_money_order|cur_odr:$order.currency:false:true}></span>
    <span style="padding-left: 30px">可提取佣金：<{$sale_money|cur_odr:$order.currency:false:true}></span></br>
    <span>待审核金额：<{$noaudit_money|cur_odr:$order.currency:false:true}></span>
    <span style="padding-left: 30px">可提取佣金：<{$sur_money|cur_odr:$order.currency:false:true}></span>
  </div>
   <div id="member_orders" class="member-orders member-mod">
    <form action="<{link app=b2c  ctl='wap_member' act='account_apply'}>" method="post">
     <input type="hidden" name="sur_money" value="<{$sur_money}>">
    <ul  style="padding-top: 15px">
      <li>
      <label ><em class="warn">*</em>提现金额：</label>
      <span><{input type="text" name="amount"  class="inputstyle"   vtype="required"}></span>
      </li>
      <li class="form-item" style="padding-top:10px">
          <label style="text-align: center" ><em class="warn">*</em>收款信息：</label>
          <span><{input type="textarea" class="textareastyle" name="bank_info"  rows=4}></span>
      </li>
      <li class="form-item">
       <span style="padding-left: 200px"> <{button type="submit"   label="提交" rel="_request"}></span>
       </li>
      <li class="form-item">
          <label style="text-align: center" ><em class="warn">*</em>说明：</label>
          <span>如果是银行卡：需要填写开户所在地，开户银行，开户姓名和卡号：例如珠海建设银行 张一山 XXXXX;</br>
                如果是支付宝：直接填写号码以及姓名即可,例如 张一山 13234543212
          </span>
      </li>
    </ul>
  </form>
  </div>
</div>
